.App {
  text-align: center;
  
}


.search-container {
  display: flex;
  justify-content: center;
}

h1{
  color: rgb(179, 10, 179);
  font-family: 'Rampart One', cursive;
}

.App-link {
  color: #61dafb;
}
.search-bar {
  min-width: 25%;
  margin: 1rem 0;
  padding: 0.5rem 0.5rem;
  border-radius: 10px;
  background: #ca8a04;
}

.search-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-bar input {
  min-width: 25%;
  flex: 1;
  border: none;
  font-size: 1rem;
  font-family: var(--font-raleway);
  font-weight: 500;
  outline: none;
  color: #222222;
  background: #ca8a04;
}

.search-bar input::placeholder {
  color: #3d3d3d;
}

.search-bar img {
  width: 35px;
  height: 35px;
  cursor: pointer;
}
